<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dpmapteam.dpmap">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/dpmap_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/dpmap_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>